*~
*.bak
/.autotools
/.cproject
/.project
/.pydevproject
/.settings
/.zanata-cache/etag-cache.xml
/admin/ar-lib
/admin/compile
/admin/config.guess
/admin/config.rpath
/admin/config.sub
/admin/depcomp
/admin/install-sh
/admin/ltmain.sh
/admin/missing
/admin/mkinstalldirs
/admin/test-driver
/admin/ylwrap
/autom4te.cache
/build
/build3
/docs/Makefile.in
/docs/reference/Makefile.in
/docs/reference/gtk-doc.make
/docs/reference/tmpl
/m4
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/ABOUT-NLS
/INSTALL
/Makefile.in
/aclocal.m4
/config.h.in
/configure
